@import '_mixins.scss';
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TitilliumWeb';
	src: url('../fonts/TitilliumWeb-Regular.eot');
	src: local('☺'), url('../fonts/TitilliumWeb-Regular.woff') format('woff'), url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'), url('../fonts/TitilliumWeb-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TitilliumWeb';
	src: url('fonts/TitilliumWeb-Bold.eot');
	src: local('☺'), url('fonts/TitilliumWeb-Bold.woff') format('woff'), url('fonts/TitilliumWeb-Bold.ttf') format('truetype'), url('fonts/TitilliumWeb-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'TitilliumWeb';
	src: url('../fonts/TitilliumWeb-SemiBold.eot');
	src: local('☺'), url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'), url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'), url('../fonts/TitilliumWeb-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	border: 1px solid grey;
	max-width: 1440px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	flex-grow: 0;

	.header__container__main {
		height: 596px;
		background-color: #87509c;
		.header__container__top {
			padding: 50px 0 0 0;
			display: flex;
			justify-content: space-around;
			//background-color: #87509c;

			.header__logo {
				//border: 1px dashed #fff;
				flex: 0 0 120px;

			}
			.header__menu {

				align-self: center;

				.header__list {
					//padding: 10px;
					//border: 1px dashed #fff;
					display: flex;
					text-transform: uppercase;
					font-family: 'TitilliumWeb';
					font-weight: 400;
					font-size: 16px;
					
					.header__link {
						
						text-decoration: none;
						color: #ffffff;
					}

					li {
						//background-color: #000;
						//display: block;
						padding: 10px;
						//border: 1px solid #fff;
						list-style: none;
						margin: 0 0 0 40px;
						&:first-child {
							@include header__link__active;
						}
					}
				}

			}

		}
		.header__container__bottom {
			margin: 140px 0 0 0;
			font-family: 'TitilliumWeb';
			color: #fff;
			.header__text {
				text-align: center;
				font-weight: 600;
				font-size: 42px;
			}
			.header__button {
				display: flex;
				justify-content: center;

				.button__link {
					border-bottom: 4px solid #c86a40;
					border-radius: 4px;
					background-color: #eb7d4b;
					margin: 50px 0 0 0;
					padding: 25px 70px;
					text-transform: uppercase;
					text-decoration: none;
					color: #fff;
					font-weight: 400;

				}
			}
		}

	}


}
.content {
	flex-grow: 1;
	.content__green {
		.green__features {
			border: 1px solid black;
			padding: 0 200px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.feature__flag,
			.feature__pencil,
			.feature__geers,
			.feature__rocket {
				border: 1px solid black;
				flex: 0 0 190px;
				h3 {
					text-align: center;
				}
			}
		}
	}
}

.footer {
	flex-grow: 0;
}
